// Utility classes

.u-margin-top {
  margin-top: $gutter-half;

  @include media(tablet) {
    margin-top: $gutter * 1.5;
  }
}

.u-margin-bottom-small {
  margin-bottom: $gutter-half;

  @include media(tablet) {
    margin-bottom: $gutter;
  }
}

.u-margin-bottom {
  margin-bottom: $gutter-half;

  @include media(tablet) {
    margin-bottom: $gutter * 1.5;
  }
}

.u-margin-bottom-large {
  margin-bottom: $gutter;

  @include media(tablet) {
    margin-bottom: $gutter * 3;
  }
}
