.change-history {
  width: 66%;

  &__latest-change {

    dt {
      @include core-19;
    }

    dd {
      @include bold-24;
    }
  }

  &__date {
    display: block;
    margin-bottom: 0.25em;
  }

  &__summary,
  &__reason {
    @include core-16;
    color: $grey-1;
    margin-bottom: 0.5em;
  }

  &__past {

    margin-top: 0.5em;

    time {
      @include bold-19;
    }

    li {
      list-style: none;
      margin-bottom: 10px;
    }
  }
}
