// Example usage:

// <div class="page-header">
//   <p class="page-header__context">Context</p>
//   <h1 class="page-header__title">Agile delivery</h1>
//   <p class="page-header__summary">
//     How to work in an agile way: principles, tools and governance.
//   </p>
//   <p class="page-header__description">
//     Additional descriptive text can sit here
//   </p>
// </div>

// Here we're using BEM which uses __ to denote an element within a block
// scss-lint:disable SelectorFormat

.page-header {
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  @include media(tablet) {
    margin-top: $gutter * 1.5;
    margin-bottom: $gutter * 1.5;
  }

  &__context {
    @include core-24;

    color: $secondary-text-colour;
    padding-bottom: .167em;
  }

  &__title {
    @include bold-48;

    margin-bottom: $gutter-half;

    @include media(tablet) {
      margin-bottom: $gutter * 1.5;
    }
  }

  &__summary {
    @include core-24;

    margin-bottom: $gutter-half;

    @include media(tablet) {
      margin-bottom: $gutter * 1.5;
    }
  }

  &__description {
    @include core-19;
  }

}
